@import url('https://fonts.googleapis.com/css?family=BenchNine');

#start {
    width: 26px;
    height: 26px;
    margin: 0 auto;
    cursor: pointer;
    border: #444 solid 4px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    background-color: red;
    -webkit-box-shadow: 0 2px 5px #333;
    -moz-box-shadow: 0 2px 5px #333;
    box-shadow: 0 2px 5px #333;
}

#start:active {
    top: 1px;
    bottom: -1px;
    -webkit-box-shadow: 0 1px 1px #333;
    -moz-box-shadow: 0 1px 1px #333;
    box-shadow: 0 1px 1px #333;
}
