@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'BenchNine', sans-serif;
    font-size: 1rem;
}

.simon-title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
}

.simon-title-sup {
    font-size: 1rem;
    top: -1.2em;
}

.disabled-element {
    pointer-events: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    border: #333 solid 0.75rem;
    padding: 0.5rem;
    width: 300px;
    height: 300px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 20%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-tiles-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 500px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 0 0.5em #777;
}

.play-tile-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.play-tile {
    width: 100%;
    height: 100%;
    border: #333 solid 0.75rem;
    cursor: pointer;
}

.blue-tile {
    background-color: #0000FF;
    -moz-border-bottom-right-radius: 100%;
    -webkit-border-bottom-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-right-width: 1.5rem;
    border-bottom-width: 1.5rem;
}

.light-blue-tile {
    background-color: #7373FF;
}

.green-tile {
    background-color: #378445;
    -moz-border-top-left-radius: 100%;
    -webkit-border-top-left-radius: 100%;
    border-top-left-radius: 100%;
    border-left-width: 1.5rem;
    border-top-width: 1.5rem;
}

.light-green-tile {
    background-color: #91BB99;
}

.red-tile {
    background-color: #FF0000;
    -moz-border-top-right-radius: 100%;
    -webkit-border-top-right-radius: 100%;
    border-top-right-radius: 100%;
    border-right-width: 1.5rem;
    border-top-width: 1.5rem;
}

.light-red-tile {
    background-color: #FF7373;
}

.yellow-tile {
    background-color: #FFFF00;
    -moz-border-bottom-left-radius: 100%;
    -webkit-border-bottom-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-left-width: 1.5rem;
    border-bottom-width: 1.5rem;
}

.light-yellow-tile {
    background-color: #FFFF5C;
}

.output-wrapper {
    border: #222 dashed 1px;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}
